[Unit]
Description=sdl2dsu
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=<path_to_binary>/sdl2dsu.AppImage --port 26760 --filter "Dualsense"

[Install]
WantedBy=multi-user.target
